<% layout('layout/layout.ejs') -%>
<body>
  <div class="maindivaddnew" style="width: 80%; margin: auto" >
    <form action="/edit/<%= product._id %>" method="post" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="productpicture" style=" display: block; margin: auto; text-align: center;">
          <img
            src="<%= product.picture %>"
            style="width: 200px; height: 200px;"
            id="showimage"
            alt="..."
          />
          <p>Add the another picture here</p>
          <p id="productpicturep" style="color: red;"></p>
        </label>
        <label for="exampleFormControlInput1" class="form-label"
          >Product Name</label
        >
        <input
          type="text"
          value="<%= product.name %>"
          class="form-control"
          name="productname"
          id="exampleFormControlInput1"
          placeholder="Product Name"
        />
        <% if (error && error.errors && error.errors.name &&
        error.errors.name.message) {%>
        <p style="color: red"><%= error.errors.name.message %></p>
        <%} %>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Product Price</label
        >
        <input
          type="number"
          value="<%= product.price %>"
          class="form-control"
          name="price"
          id="exampleFormControlInput1"
          placeholder="Product Price"
        />
        <% if (error && error.errors && error.errors.price &&
        error.errors.price.message) {%>
        <p style="color: red"><%= error.errors.price.message %></p>
        <%} %>
      </div>
      <div class="mb-3" >
        <label for="exampleFormControlInput1" class="form-label"
          >Product Company</label
        >
        <input
          type="text"
          name="companyname"
          value="<%= product.company %>"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Product Company"
        />
      </div>

      <div class="mb-3"style="display: none;">
        <label for="productpicture" class="form-label"
          >Upload new picture of product</label
        >
        <input
          type="file"
          class="form-control"
          name="productpicture"
          id="productpicture"
          rows="3"
        />
        <input
          type="text"
          class="form-control"
          disabled
          value="<%= product.picture %>"
          name="disableinput"
          id="exampleFormControlTextarea1"
          rows="3"
        />
        <% if (error && error.errors && error.errors.picture &&
        error.errors.picture.message) {%>
        <p style="color: red"><%= error.errors.description.message %></p>
        <%} %>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"
          >Product Description</label
        >
        <textarea
          class="form-control"
          name="description"
          id="exampleFormControlTextarea1"
          rows="3"
        >
<%= product.description %></textarea
        >
        <% if (error && error.errors && error.errors.description &&
        error.errors.description.message) {%>
        <p style="color: red"><%= error.errors.description.message %></p>
        <%} %>
      </div>
      <button class="btn btn-primary">Update Product</button>
    </form>
  </div>
</body>
<script>
  let form = document.querySelector("form");
  let productpicture = document.getElementById("productpicture");
  let productpicturep=document.getElementById("productpicturep")
  productpicture.addEventListener("change", function () {
    let showimage = document.getElementById("showimage");
    let file = productpicture.files[0];
    if (productpicture.files.length) {
      showimage.src = URL.createObjectURL(file);
    } else {
      showimage.src = "<%= product.picture %>";
    }
  });

  form.addEventListener("submit", function (e) {
    e.preventDefault();
    let submitbol = true;
    let typeallowed = ["image/jpeg", "image/jpg", "image/png"];
    let file = productpicture.files[0];
    if (productpicture.files.length &&!typeallowed.includes(file.type)) {
      productpicturep.innerHTML ="Only jpeg, jpg, png images are allowed";
      submitbol = false;
    }

    if (submitbol) {
      form.submit()
    }
    console.log(file);
  });
</script>
